Repository foomo/squadron: changes, and which lefthook commands are due for each by the changed paths.
All: biome, golangci

.lefthook.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/evilmartians/lefthook/refs/heads/master/schema.json
# https://lefthook.dev/configuration/
output: [ summary ]

pre-commit:
  skip: [ merge, rebase ]
  parallel: true
  commands:
    branch-name:
      run: |
        branch_name=$(git rev-parse --abbrev-ref HEAD)
        if ! [[ "$branch_name" =~ ^(feature|fix)/ ]]; then
          echo "Error: Branch name must start with 'feature/' or 'fix/'. Your branch: $branch_name"
          exit 1
        fi
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,html,css}"
      run: biome format --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    golangci:
      glob: "*.go"
      run: golangci-lint fmt {staged_files}
      stage_fixed: true

commit-msg:
  skip: [ merge, rebase ]
  commands:
    conventional-commit:
      run: |
        commit_msg_file={1}
        commit_msg=$(cat "$commit_msg_file")
        # Regex for conventional commits (type(scope?): subject)
        regex="^(build|chore|ci|docs|feat|fix|perf|refactor|style|test|sec|wip)(\([a-z0-9\-]+\))?(!)?: .{1,50}"
        if ! echo "$commit_msg" | grep -qE "$regex"; then
          echo "Error: Commit message does not follow Conventional Commits format."
          echo "Format: type(scope?): subject"
          echo "Example: feat(login): add remember me option"
          exit 1
        fi

post-checkout:
  commands:
    mise:
      run: mise -q install

feat: bump version
  internal/config/version.go
  testdata/blank/snapshop-config-norender.yaml
  testdata/blank/snapshop-config.yaml
  testdata/blank/squadron.yaml
  testdata/extends/snapshop-config-norender.yaml
  testdata/extends/snapshop-config.yaml
  testdata/extends/squadron.yaml
  testdata/global/snapshop-config-norender.yaml
  testdata/global/snapshop-config.yaml
  testdata/global/squadron.override.yaml
  testdata/global/squadron.yaml
  testdata/override/snapshop-config-norender.yaml
  testdata/override/snapshop-config.yaml
  testdata/override/squadron.override.yaml
  testdata/override/squadron.yaml
  testdata/simple/snapshop-config-norender.yaml
  testdata/simple/snapshop-config.yaml
  testdata/simple/squadron.yaml
  testdata/tags/snapshop-config-norender.yaml
  testdata/tags/snapshop-config.yaml
  testdata/tags/squadron.yaml
  testdata/template/snapshop-config-norender.yaml
  testdata/template/snapshop-config.yaml
  testdata/template/squadron.yaml
  testdata/vars/snapshop-config-norender.yaml
  testdata/vars/snapshop-config.yaml
  testdata/vars/squadron.override.yaml
  testdata/vars/squadron.yaml
Due: golangci

feat: bump hcl lib
  go.mod
  go.sum
  internal/config/bake.go
Due: golangci

feat: add raw bake
  cmd/actions/bake.go
  cmd/actions/push.go
  cmd/actions/schema.go
  cmd/actions/up.go
  internal/config/bake.go
  internal/config/config.go
  internal/testutils/snapshot.go
  squadron.go
  squadron.schema.json
  squadron_test.go
  testdata/bake/snapshop-bakefile.yaml
  testdata/bake/snapshop-config-norender.yaml
  testdata/bake/snapshop-config.yaml
  testdata/bake/squadron.yaml
Due: biome, golangci

fix: lint issues
  squadron_test.go
Due: golangci

refactor: rename log
  squadron.go
Due: golangci

feat: add scope env
  squadron.go
Due: golangci

fix: test
  squadron_test.go
  testdata/bake/snapshop-bakefile.hcl
  testdata/bake/snapshop-bakefile.yaml
Due: golangci

fix: test
  .lefthook.yaml
  squadron_test.go
Due: golangci

refactor: use camelCase
  internal/config/baketarget.go
  internal/config/build.go
  squadron.schema.json
  testdata/bake/snapshop-bakefile.hcl
  testdata/bake/snapshop-config-norender.yaml
  testdata/bake/snapshop-config.yaml
  testdata/bake/squadron.yaml
  testdata/override/snapshop-config-norender.yaml
  testdata/override/snapshop-config.yaml
  testdata/override/squadron.override.yaml
  testdata/override/squadron.yaml
Due: biome, golangci

test: add variable
  testdata/bake/snapshop-bakefile.hcl
  testdata/bake/snapshop-config-norender.yaml
  testdata/bake/snapshop-config.yaml
  testdata/bake/squadron.yaml
Due: none

chore: add cleanup
  .github/workflows/closed.yml
Due: none

fix: bake secret
  internal/config/baketarget.go
  testdata/bake/snapshop-bakefile.hcl
  testdata/bake/snapshop-config-norender.yaml
  testdata/bake/snapshop-config.yaml
  testdata/bake/squadron.yaml
Due: golangci

feat: bump deps
  .github/workflows/release.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Due: none

feat: bump deps
  go.mod
  go.sum
Due: none

chore: cleanup caches
  .github/workflows/closed.yml
Due: none

chore: dependabot
  .github/dependabot.yml
Due: none

chore: maintenance
  .github/dependabot.yml
  .gitignore
  .golangci.yaml
  .goreleaser.yaml
  .lefthook.yaml
  .mise.toml
  Makefile
  biome.json
  internal/util/strings.go
  scripts/cmd-reference/main.go
  squadron.go
Due: biome, golangci

feat: modernize
  .golangci.yaml
  _examples/helloworld/app/go.mod
  _examples/kustomize/app/go.mod
  _examples/monorepo/squadrons/checkout/backend/go.mod
  _examples/monorepo/squadrons/storefinder/backend/go.mod
  go.mod
  go.sum
  internal/config/unit.go
  internal/git/originurl.go
  internal/pterm/noopspinner.go
  internal/pterm/standardspinner.go
  internal/util/errors.go
  internal/util/strings.go
  squadron.go
Due: golangci

fix: simplify
  internal/config/unit.go
  internal/util/strings.go
  squadron.go
Due: golangci

fix: tests
  .github/PULL_REQUEST_TEMPLATE.md
  internal/config/unit.go
  internal/jsonschema/loadmap_test.go
Due: golangci

feat: bump dependencies
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .golangci.yaml
  .lefthook.yaml
  .mise.toml
  Makefile
  TODO.md
  biome.json
  go.mod
  go.sum
  internal/cmd/ptermsloghandler.go
  internal/config/map.go
  squadron.go
Due: biome, golangci

feat: bump go
  go.mod
Due: none

chore: update gh files
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/cache-golangci-lint/action.yml
  .github/actions/setup-go/action.yml
  .github/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
Due: none
